/* `XHTML, HTML4, HTML5 Reset
----------------------------------------------------------------------------------------------------*/
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
dialog,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
font,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
main,
mark,
menu,
meter,
nav,
object,
ol,
output,
p,
pre,
progress,
q,
rp,
rt,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video,
xmp {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%; }

html,
body {
  height: 100%; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  /*
  Override the default (display: inline) for
  browsers that do not recognize HTML5 tags.

  IE8 (and lower) requires a shiv:
  http://ejohn.org/blog/html5-shiv
*/
  display: block; }

b,
strong {
  /*
  Makes browsers agree.
  IE + Opera = font-weight: bold.
  Gecko + WebKit = font-weight: bolder.
*/
  font-weight: bold; }

img {
  color: transparent;
  font-size: 0;
  vertical-align: middle;
  /*
  For IE.
  http://css-tricks.com/ie-fix-bicubic-scaling-for-images
*/
  -ms-interpolation-mode: bicubic; }

ol,
ul {
  list-style: none; }

li {
  /*
  For IE6 + IE7:

  "display: list-item" keeps bullets from
  disappearing if hasLayout is triggered.
*/
  display: list-item; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

th,
td,
caption {
  font-weight: normal;
  vertical-align: top;
  text-align: left; }

q {
  quotes: none; }

q:before,
q:after {
  content: "";
  content: none; }

sub,
sup,
small {
  font-size: 75%; }

sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

svg {
  /*
  For IE9. Without, occasionally draws shapes
  outside the boundaries of <svg> rectangle.
*/
  overflow: hidden; }

body, html {
  font: 400 16px/1.7 "Raleway", sans-serif;
  color: #2c2c2c; }

p {
  color: #797979; }

#header {
  background-image: url(images/background.png);
  background-position: 50% -130px;
  width: 100%;
  overflow: hidden;
  text-align: center;
  height: 800px;
  line-height: 800px; }
  #header .title {
    line-height: normal;
    display: inline-block;
    vertical-align: middle; }
  @media screen and (max-width: 760px) {
    #header {
      height: 600px;
      background-position: 50% -260px;
      line-height: 600px; }
      #header .title {
        line-height: normal;
        display: inline-block;
        vertical-align: middle; } }
  @media screen and (max-width: 1000px) {
    #header nav {
      width: 100%;
      height: 70px;
      background-color: #9a6488;
      position: fixed;
      z-index: 1000; } }
  @media screen and (max-width: 430px) {
    #header nav {
      height: 50px; } }
  #header ul {
    position: fixed;
    z-index: 1000;
    right: 0;
    top: 0;
    padding: 0 50px;
    line-height: normal; }
    @media screen and (max-width: 1000px) {
      #header ul {
        display: none; } }
    #header ul li {
      display: inline-block; }
      #header ul li a {
        display: block;
        padding: 20px;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 300;
        text-decoration: none;
        color: inherit; }
        #header ul li a:hover {
          text-decoration: underline; }

.scrolled-page {
  background-color: #9a6488;
  color: #fff;
  padding: 10px 80px !important; }
  @media screen and (max-width: 1440px) {
    .scrolled-page {
      padding: 0 50px !important; } }
  .scrolled-page a {
    padding: 20px 30px !important; }
    @media screen and (max-width: 1440px) {
      .scrolled-page a {
        padding: 20px !important; } }

.button {
  height: 70px;
  width: 100%;
  background-image: url(images/menu.png);
  background-repeat: no-repeat;
  background-position: 95% 50%;
  float: right; }
  @media screen and (max-width: 430px) {
    .button {
      height: 50px;
      background-image: url(images/menu-small.png); } }

.displayed-menu {
  display: block !important;
  position: absolute !important;
  z-index: 1000;
  right: 0 !important;
  top: 70px !important;
  padding: 0  !important;
  background-color: #9a6488; }
  @media screen and (max-width: 430px) {
    .displayed-menu {
      top: 50px !important; } }
  .displayed-menu li {
    display: block !important; }
    .displayed-menu li a {
      width: 1000px;
      padding: 25px 50px !important;
      border-top: 1px solid #7b506d;
      text-align: right;
      color: #fff !important; }
      @media screen and (max-width: 430px) {
        .displayed-menu li a {
          padding: 15px 30px !important;
          font-size: 16px; } }

.title {
  width: 50%; }
  @media screen and (max-width: 1440px) {
    .title {
      width: 70%; } }
  @media screen and (max-width: 1000px) {
    .title {
      width: 90%; } }
  .title h1 {
    font-weight: 100;
    font-size: 60px;
    line-height: 1.3; }
    @media screen and (max-width: 1100px) {
      .title h1 {
        font-size: 55px; } }
    @media screen and (max-width: 760px) {
      .title h1 {
        font-size: 40px; } }
  .title input {
    border: none;
    background-color: #9a6488;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 3px;
    height: 50px;
    width: 190px;
    font: 300 18px "Raleway", sans-serif;
    margin-top: 40px;
    margin-bottom: 15px; }
    .title input:focus {
      outline: none; }
  .title p {
    font-size: 14px;
    color: #797979; }

#main-inform {
  width: 60%;
  padding: 150px;
  box-sizing: border-box;
  overflow: hidden; }
  @media screen and (max-width: 1440px) {
    #main-inform {
      padding: 120px; } }
  @media screen and (max-width: 1200px) {
    #main-inform {
      width: 70%; } }
  @media screen and (max-width: 1000px) {
    #main-inform {
      width: 90%;
      padding: 80px 100px; } }
  @media screen and (max-width: 760px) {
    #main-inform {
      padding: 50px; } }
  @media screen and (max-width: 400px) {
    #main-inform {
      width: 100%; } }
  #main-inform:after {
    content: "";
    position: absolute;
    right: 0;
    top: 700px;
    z-index: -50;
    border-right: 500px solid #ae83a0;
    border-bottom: 500px solid #ae83a0;
    border-left: 500px solid transparent;
    border-top: 500px solid transparent; }
    @media screen and (max-width: 400px) {
      #main-inform:after {
        border-right-color: #ccb1c3;
        border-bottom-color: #ccb1c3; } }
    @media screen and (max-width: 1440px) {
      #main-inform:after {
        top: 900px; } }
    @media screen and (max-width: 1280px) {
      #main-inform:after {
        top: 1000px; } }
    @media screen and (max-width: 1000px) {
      #main-inform:after {
        border-width: 200px;
        top: 1150px; } }
    @media screen and (max-width: 760px) {
      #main-inform:after {
        top: 950px; } }
    @media screen and (max-width: 570px) {
      #main-inform:after {
        top: 1150px; } }
  #main-inform p {
    margin-bottom: 25px; }

.category {
  color: #b06898;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 0.15em;
  line-height: 1.5; }
  @media screen and (max-width: 430px) {
    .category {
      font-size: 16px; } }

h2 {
  font-size: 45px;
  font-weight: 300;
  line-height: 1.3;
  margin-bottom: 40px; }
  h2 span {
    color: #b06898; }
  @media screen and (max-width: 1280px) {
    h2 {
      font-size: 40px; } }
  @media screen and (max-width: 760px) {
    h2 {
      font-size: 35px; } }
  @media screen and (max-width: 430px) {
    h2 {
      font-size: 30px; } }

.main-features {
  background-color: #f6f5f3;
  background-image: url(images/background-elements.png);
  background-repeat: no-repeat;
  background-position: center;
  padding: 150px;
  text-align: center; }
  @media screen and (max-width: 1440px) {
    .main-features {
      padding: 150px 100px; } }
  @media screen and (max-width: 1390px) {
    .main-features {
      background-image: url(images/background-elements-medium.png); } }
  @media screen and (max-width: 1280px) {
    .main-features {
      padding: 130px 70px; } }
  @media screen and (max-width: 1000px) {
    .main-features {
      padding: 100px 30px;
      background-image: url(images/background-elements-small.png); } }
  @media screen and (max-width: 760px) {
    .main-features {
      padding-top: 50px;
      padding-bottom: 0;
      background-image: none; } }
  .main-features:after {
    content: "";
    display: table;
    clear: both; }
  .main-features h2 {
    margin-bottom: 80px; }
    @media screen and (max-width: 760px) {
      .main-features h2 {
        margin-bottom: 40px; } }

.description {
  float: left;
  width: 30%;
  margin: 0 1.6%;
  background-repeat: no-repeat;
  background-position: top center;
  padding-top: 80px; }
  .description h3 {
    font-size: 24px; }
    @media screen and (max-width: 430px) {
      .description h3 {
        font-size: 22px; } }
  @media screen and (max-width: 760px) {
    .description {
      float: none;
      width: 90%;
      margin: 50px auto; } }

.completed {
  background-image: url(images/icon-completed.png); }

.mail {
  background-image: url(images/icon-mail.png); }

.portfolio {
  background-image: url(images/icon-portfolio.png); }

.secondary-inform {
  padding: 150px 10% 150px 50%;
  background-image: url(images/responsive-example.png);
  background-repeat: no-repeat;
  background-position: 10% center;
  position: relative; }
  @media screen and (max-width: 1440px) {
    .secondary-inform {
      padding-left: 55%; } }
  @media screen and (max-width: 1280px) {
    .secondary-inform {
      background-image: url(images/responsive-example-medium.png);
      padding: 120px 7% 120px 55%; } }
  @media screen and (max-width: 1000px) {
    .secondary-inform {
      background-position: center 10%;
      padding: 400px 15% 100px 15%; } }
  @media screen and (max-width: 760px) {
    .secondary-inform {
      background-image: url(images/responsive-example-small.png);
      background-position: center 5%;
      padding: 250px 10% 50px 10%; } }
  .secondary-inform:before {
    content: "";
    position: absolute;
    z-index: -100;
    left: 0;
    top: -200px;
    border-left: 500px solid #ae83a0;
    border-bottom: 500px solid #ae83a0;
    border-right: 500px solid transparent;
    border-top: 500px solid transparent; }
    @media screen and (max-width: 400px) {
      .secondary-inform:before {
        border-left-color: #ccb1c3;
        border-bottom-color: #ccb1c3; } }
    @media screen and (max-width: 1440px) {
      .secondary-inform:before {
        top: -100px; } }
    @media screen and (max-width: 1280px) {
      .secondary-inform:before {
        top: 50px;
        border-width: 350px; } }
    @media screen and (max-width: 1000px) {
      .secondary-inform:before {
        border-left: 200px solid #ae83a0;
        border-top: 200px solid #ae83a0;
        border-right: 200px solid transparent;
        border-bottom: 200px solid transparent;
        top: 0; } }
  @media screen and (max-width: 1000px) and (max-width: 400px) {
    .secondary-inform:before {
      border-left-color: #ccb1c3;
      border-top-color: #ccb1c3; } }
    @media screen and (max-width: 760px) {
      .secondary-inform:before {
        border-width: 125px; } }

#reviews {
  background-image: url(images/background-poligonal.png);
  background-repeat: no-repeat;
  text-align: center; }
  @media screen and (max-width: 760px) {
    #reviews {
      background-image: url(images/background-poligonal-small.png); } }
  #reviews .clients:after {
    content: "";
    display: table;
    clear: both; }
  #reviews .client {
    float: left;
    width: 25%;
    margin: 100px 4%; }
    #reviews .client h3 {
      color: #fff;
      font-weight: 300;
      font-size: 22px;
      margin-top: 20px; }
    #reviews .client .company {
      color: #b06898;
      font-style: normal;
      margin-bottom: 30px; }
    #reviews .client p {
      color: #b3b3b3;
      font-weight: 300;
      font-style: italic; }
    @media screen and (max-width: 1200px) {
      #reviews .client {
        width: 29%;
        margin: 70px 2%; } }
    @media screen and (max-width: 760px) {
      #reviews .client {
        float: none;
        width: 90%;
        margin: 0 auto;
        padding: 30px 0; } }
  #reviews .partners {
    padding-bottom: 70px; }
    @media screen and (max-width: 1200px) {
      #reviews .partners {
        padding-bottom: 50px; } }
    @media screen and (max-width: 760px) {
      #reviews .partners {
        padding: 30px 12%; } }
    @media screen and (max-width: 570px) {
      #reviews .partners {
        padding: 30px 0; } }
    #reviews .partners img {
      margin: 0 60px; }
      @media screen and (max-width: 1200px) {
        #reviews .partners img {
          margin: 0 30px; } }
      @media screen and (max-width: 1000px) {
        #reviews .partners img {
          margin: 0 20px;
          width: 100px; } }
      @media screen and (max-width: 760px) {
        #reviews .partners img {
          margin: 20px; } }
      @media screen and (max-width: 430px) {
        #reviews .partners img {
          margin: 10px; } }

.secondary-features {
  text-align: center;
  padding: 100px 0 500px 0;
  background-image: url(images/browser-example.png);
  background-repeat: no-repeat;
  background-position: center bottom; }
  .secondary-features p {
    width: 50%;
    margin: 0 auto; }
    @media screen and (max-width: 600px) {
      .secondary-features p {
        width: 80%; } }
  @media screen and (max-width: 1280px) {
    .secondary-features {
      padding: 70px 0 440px 0; } }
  @media screen and (max-width: 1000px) {
    .secondary-features {
      background-image: url(images/browser-example-medium.png);
      padding-bottom: 340px; } }
  @media screen and (max-width: 600px) {
    .secondary-features {
      background-image: url(images/browser-example-small.png);
      padding-top: 50px;
      padding-bottom: 220px; } }
  @media screen and (max-width: 380px) {
    .secondary-features {
      background-image: url(images/browser-example-extrasmall.png);
      padding-bottom: 170px; } }

#subscribe {
  background: #284e4a;
  text-align: center;
  padding: 100px 0 70px 0; }
  @media screen and (max-width: 600px) {
    #subscribe {
      padding-top: 60px;
      padding-bottom: 50px; } }
  #subscribe h2 {
    color: #fff; }
  #subscribe form {
    position: relative;
    width: 1235px;
    margin: 0 auto; }
    @media screen and (max-width: 1335px) {
      #subscribe form {
        width: 1035px; } }
    @media screen and (max-width: 1085px) {
      #subscribe form {
        width: 305px; } }
    #subscribe form input[type="text"],
    #subscribe form input[type="email"],
    #subscribe form input[type="password"] {
      padding: 13.5px 0 13.5px 20px;
      border: 1px solid #a4d1cc;
      color: #fff;
      box-sizing: border-box;
      border-radius: 3px;
      height: 50px;
      width: 285px;
      font: 300 18px "Raleway", sans-serif;
      background-color: #39706a;
      margin: 80px 10px 50px 10px; }
      #subscribe form input[type="text"]:focus,
      #subscribe form input[type="email"]:focus,
      #subscribe form input[type="password"]:focus {
        outline: none; }
      @media screen and (max-width: 1335px) {
        #subscribe form input[type="text"],
        #subscribe form input[type="email"],
        #subscribe form input[type="password"] {
          width: 235px; } }
      @media screen and (max-width: 1085px) {
        #subscribe form input[type="text"],
        #subscribe form input[type="email"],
        #subscribe form input[type="password"] {
          width: 285px;
          display: block;
          margin: 30px auto; } }
      @media screen and (max-width: 380px) {
        #subscribe form input[type="text"],
        #subscribe form input[type="email"],
        #subscribe form input[type="password"] {
          width: 235px; } }
      #subscribe form input[type="text"]::-moz-placeholder,
      #subscribe form input[type="email"]::-moz-placeholder,
      #subscribe form input[type="password"]::-moz-placeholder {
        color: #fff; }
      #subscribe form input[type="text"]:-moz-placeholder,
      #subscribe form input[type="email"]:-moz-placeholder,
      #subscribe form input[type="password"]:-moz-placeholder {
        color: #fff; }
      #subscribe form input[type="text"]::-webkit-input-placeholder,
      #subscribe form input[type="email"]::-webkit-input-placeholder,
      #subscribe form input[type="password"]::-webkit-input-placeholder {
        color: #fff; }
      #subscribe form input[type="text"]:-ms-input-placeholder,
      #subscribe form input[type="email"]:-ms-input-placeholder,
      #subscribe form input[type="password"]:-ms-input-placeholder {
        color: #fff; }
      #subscribe form input[type="text"]::-ms-input-placeholder,
      #subscribe form input[type="email"]::-ms-input-placeholder,
      #subscribe form input[type="password"]::-ms-input-placeholder {
        color: #fff; }
      #subscribe form input[type="text"]::placeholder,
      #subscribe form input[type="email"]::placeholder,
      #subscribe form input[type="password"]::placeholder {
        color: #fff; }
    #subscribe form input[type="submit"] {
      margin: 80px 10px 50px 10px;
      border: none;
      background-color: #9a6488;
      letter-spacing: 0;
      text-transform: uppercase;
      color: #fff;
      cursor: pointer;
      box-sizing: border-box;
      border-radius: 3px;
      height: 50px;
      width: 285px;
      font: 300 18px "Raleway", sans-serif; }
      #subscribe form input[type="submit"]:focus {
        outline: none; }
      @media screen and (max-width: 1335px) {
        #subscribe form input[type="submit"] {
          width: 235px; } }
      @media screen and (max-width: 1085px) {
        #subscribe form input[type="submit"] {
          width: 285px;
          display: block;
          margin: 70px auto 50px auto; } }
      @media screen and (max-width: 380px) {
        #subscribe form input[type="submit"] {
          width: 235px; } }
    #subscribe form:after {
      content: "30 days free trial for all.";
      color: #fff;
      font-size: 20px;
      padding-left: 30px;
      min-height: 50px;
      background-image: url(images/arrow.png);
      background-repeat: no-repeat;
      background-position: left bottom;
      position: absolute;
      top: 0;
      right: 50px; }
      @media screen and (max-width: 1335px) {
        #subscribe form:after {
          right: 15px; } }
      @media screen and (max-width: 1085px) {
        #subscribe form:after {
          font-size: 16px;
          background-image: url(images/arrow-small.png);
          padding-left: 25px;
          min-height: 42px;
          top: 230px;
          left: 15px;
          text-align: left; } }
      @media screen and (max-width: 380px) {
        #subscribe form:after {
          left: 40px; } }
  #subscribe p {
    color: #b3b3b3; }
    #subscribe p span {
      text-decoration: underline; }

.footer {
  position: relative; }
  .footer .address, .footer .links, .footer .follow {
    float: left;
    margin-top: 100px;
    margin-bottom: 100px; }
    @media screen and (max-width: 1440px) {
      .footer .address, .footer .links, .footer .follow {
        margin-bottom: 70px; } }
    @media screen and (max-width: 1000px) {
      .footer .address, .footer .links, .footer .follow {
        margin-top: 50px;
        margin-bottom: 50px; } }
    @media screen and (max-width: 600px) {
      .footer .address, .footer .links, .footer .follow {
        float: none;
        width: auto;
        margin-left: 10% !important; } }
  .footer h3 {
    font-size: 24px;
    margin-bottom: 10px; }
  .footer .address {
    margin-left: 10%;
    margin-right: 5%;
    width: 15%; }
    @media screen and (max-width: 1440px) {
      .footer .address {
        margin-left: 7%;
        width: 17%; } }
    @media screen and (max-width: 1220px) {
      .footer .address {
        margin-left: 5%;
        width: 20%; } }
    @media screen and (max-width: 1000px) {
      .footer .address {
        width: 50%;
        margin-bottom: 0 !important;
        margin-right: 0; } }
    @media screen and (max-width: 430px) {
      .footer .address {
        margin-right: 10%;
        width: auto; } }
    .footer .address img {
      margin-bottom: 7px; }
  .footer .links {
    margin-right: 8%; }
    .footer .links a {
      text-decoration: none;
      color: #797979; }
      .footer .links a:hover {
        text-decoration: underline; }
    @media screen and (max-width: 1000px) {
      .footer .links {
        margin-left: 5%;
        margin-right: 15%; } }
  .footer .follow input[type="email"],
  .footer .follow input[type="text"] {
    padding: 13.5px 0 13.5px 20px;
    border: 1px solid #cccccc;
    color: #797979;
    box-sizing: border-box;
    border-radius: 3px;
    height: 50px;
    width: 230px;
    font: 300 18px "Raleway", sans-serif; }
    .footer .follow input[type="email"]:focus,
    .footer .follow input[type="text"]:focus {
      outline: none; }
  .footer .follow input[type="submit"] {
    border: none;
    background-color: #9a6488;
    letter-spacing: 0;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 3px;
    height: 50px;
    width: 50px;
    font: 300 18px "Raleway", sans-serif;
    background-image: url(images/subscribe-button.png);
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    right: 10px; }
    .footer .follow input[type="submit"]:focus {
      outline: none; }
  .footer .follow .social {
    text-align: center;
    width: 270px; }
    .footer .follow .social .dribble {
      background-image: url(images/social-icon-dribble.png); }
    .footer .follow .social .facebook {
      background-image: url(images/social-icon-facebook.png); }
    .footer .follow .social .google-plus {
      background-image: url(images/social-icon-google-plus.png); }
    .footer .follow .social .twitter {
      background-image: url(images/social-icon-twitter.png); }
    .footer .follow .social a {
      display: inline-block;
      width: 22px;
      height: 22px;
      margin: 20px 10px;
      background-repeat: no-repeat;
      background-position: center; }
  .footer:before {
    content: "";
    position: absolute;
    z-index: -500;
    top: 0;
    right: 0;
    border-top: 200px solid #ae83a0;
    border-right: 200px solid #ae83a0;
    border-left: 200px solid transparent;
    border-bottom: 200px solid transparent; }
    @media screen and (max-width: 400px) {
      .footer:before {
        border-top-color: #ccb1c3;
        border-right-color: #ccb1c3; } }
    @media screen and (max-width: 1440px) {
      .footer:before {
        top: -100px; } }
    @media screen and (max-width: 1220px) {
      .footer:before {
        top: -200px; } }
    @media screen and (max-width: 430px) {
      .footer:before {
        top: -300px; } }
  .footer:after {
    content: "";
    display: table;
    clear: both; }
